<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gifts</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="shop.css">
  </head>
  <body>
    <div class="hero-section-shop">

    <div class="nav">
      <div class="left">
        <p><a href="/stories">Stories</a></p>
        <p><a href="/experiences">Experiences</a></p>
        <p><a href="/lifestyle">Lifestyle</a></p>
        <p><a href="/gifts">Gifts</a></p>
        <p><a href="/shobycause">Shop By Cause</a></p>
      </div>

      <div class="Mid">
        <h2><a href="/" style="text-decoration : none;">acotu</a></h2>
      </div>

      <div class="right">
        <img src="https://47awq13mlhod44f65712k455-wpengine.netdna-ssl.com/wp-content/themes/revenvert/images/search-b.svg" alt="">
        <img src="https://47awq13mlhod44f65712k455-wpengine.netdna-ssl.com/wp-content/themes/revenvert/images/user-b.svg" alt="">
      </div>
    </div>
    <div class="hr"></div>
    <div class="aboutSec">
      <div class="left-container-shop">
        <h2>Gifts</h2>
        <p>If you’re in the market for a gift, you may as well consider one with a charitable component. Proceeds from items on our list go towards organizations working on COVID relief, food-insecurity funds, the environment, racial-justice organizations, homelessness, efforts to support women’s rights and education. Give gifts that give back so you can feel extra good about swiping your credit card and when your friend or family member learns that their new gift also helped someone else, they’ll be doubly pleased by it too.</p>
        <p class="home-page"><span><i class="fa fa-long-arrow-left" aria-hidden="true"></i></span> <a href="/">Back to Home page</a></p>
      </div>
    </div>



    </div>
    <div class="sub-category">
      <a href="#Beauty&Skin">Beauty and Skincare</a>
      <a href="#Bath">Bath & Body</a>
      <a href="#Therapeautic">Therapeautic</a>
      <a href="#Clothing">Clothing</a>
      <a href="#Accessories">Accessories</a>
      <a href="#Home">Home</a>
      <a href="#Books">Book</a>
      <a href="#Kids">Kids</a>
    </div>
    <div class="hr shop">

    </div>

<!-- Beauty and Skincare -->
    <div class="categoryy" id="Beauty&Skin">
      <h2>Beauty and Skincare</h2>
      <div class="hr shop"></div>
      <div class="content">
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bath & Body -->

<div class="hr shop"></div>
    <div class="categoryy" id="Bath">
      <h2>Bath & Body</h2>
      <div class="hr shop"></div>
      <div class="content">
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
      </div>
    </div>


    <!-- Therapeautic -->


<div class="hr shop"></div>
    <div class="categoryy" id="Therapeautic">
      <h2>Therapeautic</h2>
      <div class="hr shop"></div>
      <div class="content">
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
      </div>
    </div>



    <!-- Clothing -->

<div class="hr shop"></div>

    <div class="categoryy" id="Clothing">
      <h2>Clothing</h2>
      <div class="hr shop"></div>
      <div class="content">
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
      </div>
    </div>

<div class="hr shop"></div>
<!-- Accessories -->

    <div class="categoryy" id="Accessories">
      <h2>Accessories</h2>
      <div class="hr shop"></div>
      <div class="content">
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
      </div>
    </div>

<div class="hr shop"></div>
<!-- Home -->


    <div class="categoryy" id="Home">
      <h2>Home</h2>
      <div class="hr shop"></div>
      <div class="content">
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
      </div>
    </div>



<!-- Books -->


    <div class="categoryy" id="Books">
      <div class="hr shop"></div>
      <h2>Books</h2>
      <div class="hr shop"></div>
      <div class="content">
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
      </div>
    </div>

<!-- Kids -->
<div class="hr shop"></div>
    <div class="categoryy" id="Kids">
      <h2>Kids</h2>
      <div class="hr shop"></div>
      <div class="content">
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
        <div class="items">
          <img src="https://azon-dominator.webister.net/uploaded_images/thumbs/segwaydriftw1e-skates_5333096534.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor lobortis tortor sit amet auctor. Praesent pretium, leo eget luctus tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce portLorem ipsum dolor sit amet, consectetur adipiscing elit.
             <b style="cursor : pointer">Read More</b> </p>

             <div class="buttons">
            <p><b>$100.00</b></p>
            <a href="#" class="btn-light">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- SUBCATEGORIES:1.Beauty & Skincare
    2.Bath & Body
    3.Therapeautic
    4.Clothing
    5.Accessories
    6.Home
    7.Books
    8.Kids
    9.All Categories -->

  </body>
</html>
