<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600&family=Raleway:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="bootstrap-icons.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="shop.css">
  <style>
    #search {width: 150px;height: 30px;padding-left: 10px;border: 1px solid gray;margin: 0px !important;border-right: none !important;border-top-left-radius: 20px;border-bottom-left-radius: 20px;outline: none !important;background: transparent;}
    #search-submit {width: 34px;height: 34px;background: transparent;border: 1px solid gray; margin-left: -6px;margin-right: 10px;border-left: none !important;border-top-right-radius: 20px;border-bottom-right-radius: 20px;outline: none !important;cursor: pointer;}
    .rev-cat-sort-form {
      margin-top: 10px;
      background-image: url(https://47awq13mlhod44f65712k455-wpengine.netdna-ssl.com/wp-content/themes/revenvert/images/dropdownarrow.svg);
      background-repeat: no-repeat;
      background-position: right 20px center;
      width: 300px;
      float: right;
    }

    .justify-content-end {
      justify-content: flex-end !important;
    }

    .d-flex {
      display: flex !important;
    }

    #order {
      font-family: "GTAmerica";
      font-size: 10.5px;
      line-height: 14px;
      text-transform: uppercase;
      padding: 12px 30px 12px 7px;
      /* min-width: 300px; */
      color: #7f7b76;
      border: 1px solid #7f7b76;
      border-radius: 0%;
      background-color: transparent;
      outline: none !important;
      appearance: none;
    }
    .s_footer {
      width: 100%;
      position: sticky;
      bottom: 0px;
      left: 0px;
      right: 0px;
    }
    .f_widgets {
      width: 15%;
      float: left;
      margin-top: -15px;
    }
    .f_widgets > h5 {
      color: white;
      font-family: 'Figue';
      font-weight: bold;
      margin-left: 17px;
    }
    .f_widgets > ul {
      padding: 0px;
      list-style: none;
    }
    .f_widgets > ul > li {
      line-height: 30px;
      padding-left: 15px;
    }
    .f_widgets > ul > li > a {
      color: white;
      font-family: 'Arial';
      text-decoration: none;
      font-size: 14px;
    }
    p.qa{
    margin-right: -20vw;
  font-weight: 100;
  font-size: 12px;
  margin-top: 180px;
}
#order:hover{
  background: #5B5245;
  color: white;
}
.sss{
    font-family: 'Figue';
    color: #5B5245;
    font-size: 4.625rem;
    line-height: 5.125rem;
    margin-left: 29px;
    margin-top: 14px;
}
.eg{
    width: 600px;
}
.eg p{
    font-family: 'Arial';
    font-size: 1rem;
    line-height: 1.5rem;
    color: #7F7B76 !important;
}
p.eggg{
    margin-left: 29px;
}
h4.eggg{
    margin-left: 29px;
    font-family: 'Arial';
    font-size: 1rem;
    line-height: 1.5rem;
    color: #7F7B76 !important;
}
h6.eggg{
    margin-left: 29px;
    font-family: 'Arial';
    font-size: 1rem;
    line-height: 1.5rem;
    color: #7F7B76 !important;
    font-size: 13px;

}
.egg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 26px;
    justify-content: center;
    align-items: center;
    color: white;
}
  </style>
</head>
<body>
  <div style="position: relative;z-index: 1000;background-color:white">
    <div class="hero-section-shopp">

    <div class="nav">
      <div class="left">
        <p><a href="/stories">Stories</a></p>
        <p><a href="/experiences">Experiences</a></p>
        <p><a href="/lifestyle">Lifestyle</a></p>
        <p><a href="/gifts">Gifts</a></p>
        <p><a href="/shobycause">Shop By Cause</a></p>
      </div>

      <div class="Mid">
        <h2><a href="/" style="text-decoration : none;">acotu</a></h2>
      </div>

      <div class="right" style="padding-right: 20px;">
        <form id="search-form" style="margin-top: 16px;display: none;">
          <input type="text" placeholder="Search..." id="search">
          <button type="submit" id="search-submit"><i class="fa fa-search"></i></button>
        </form>
        <i class="fa fa-times" id="close-search" style="cursor: pointer; font-size: 20px;display: none;margin-right: 30px"></i>
        <img alt="" data-src="https://47awq13mlhod44f65712k455-wpengine.netdna-ssl.com/wp-content/themes/revenvert/images/search-b.svg" id="display-search" src="https://47awq13mlhod44f65712k455-wpengine.netdna-ssl.com/wp-content/themes/revenvert/images/search-b.svg">
      </div>
    </div>
    <div class="hr"></div>
    <div class="egg">
    <div class="eg">
    <h2 class="sss">privacy policy</h2>
    <p class="eggg">acotu (“we”) are committed to protecting and respecting your privacy.
        This privacy policy (“Privacy Policy”) applies to personal data that we collect from you as a user of this Site or customer (“you” or “your” being interpreted accordingly). It provides information on what personal data we collect, why we collect the personal data, how it is used and the lawful basis on which your personal data is processed, and what your rights are under the applicable data protection and privacy laws, including the General Data Protection Regulation (“GDPR”) which will become applicable to us and you.
        ‘Personal data’ as used in this Privacy Policy means any information that relates to you from which you can be identified. By using our Site or submitting your personal data you are taken to accept the terms of this Privacy Policy, so please read it carefully.</p> 
    <h4 class="eggg">Sensitive Information</h4>
    <p class="eggg">We ask that you not send us, and you not disclose, any sensitive personal information (for example, social security numbers, information related to racial or ethnic origin, political opinions, religion or other beliefs, health, criminal background or trade union membership) on or through the Services or otherwise.
        If you send or disclose any sensitive personal data to us, you consent to our processing and use of such sensitive personal data in accordance with this Privacy Policy. If you do not consent to our processing and use of such sensitive personal data, you must not submit such content to our Services.
        </p>
    <h4 class="eggg">Information you give to us</h4>
    <h6 class="eggg">We will use this information:</h6>
        <p class="eggg">To provide you with the information, products and services that you request from us;
        to provide you with information about special offers and promotions and other goods and services we offer that are similar to those that you have already purchased or enquired about;
        to provide you, or permit selected third parties to provide you, with information about goods or services we feel may interest you.</p>
        <h4 class="eggg">Information We May Collect Automatically</h4>
        <p class="eggg">In addition to information you choose to provide to us, we and our service providers also use standard technologies to automatically collect certain additional information. For example:
            IP Address and Other Identifiers. When you access and interact with our Services, we and our service providers may collect information about your visits to permit you to connect to and obtain the Services and to understand the frequency with which specific visitors visit various parts of our Services. For example, we may collect your Internet Protocol (“IP”) address, which identifies the computer or service provider that you use to access the Services, or information about your browser type, authentication identifiers, and other software and hardware information. If you access the Services through a mobile or other device we may collect your mobile device identifier, geolocation data (including your precise location), or other transactional information for that device. We may combine this information with other information that we have collected to make our Services and our communications to you more targeted to your interests.</p>
         </div>
    </div>
  <div class="s_footer" style="background-color: rgba(50, 50, 50, 1)">
    <div style="width: 1370px; margin: 0px auto; margin-bottom: 20px">
      <div class="f_widgets">
        <ul>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/advertisement">Advertising</a></li>
        </ul>
      </div>
      <div class="f_widgets">
        <ul>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/terms">Terms &amp; Conditions</a></li>
        </ul>
      </div>
      <br style="clear: both" />
    </div>
    <div style="width: 1370px; margin: 0px auto">
      <p
        style="
          margin: 0px;
          padding: 10px 0px;
          color: white;
          font-size: 15px;
          font-family: 'Arial';
        "
      >
        &copy; <%= new Date().getFullYear() %> all rights reserved.
      </p>
    </div>
  </div>

</body>
</html>