#res-menu{
  display: none;
  font-family: 'GTAmerica';
}

.dropdown_sub{
  position: relative;
}

.sidebarr{
  top: 42px;
  position: absolute;
  padding: 32px 0px 32px 0px;
  border : 1px solid #5B5245;
  background: white;
  width : 220px;
  text-align: center;
  left : -13%;
  z-index: -1;
  opacity: 0;
  transition: 0.4s;

}

.sidebarr a{
  margin-bottom: 8px;
  display: block;
}


label p{
  font-size: 10.5px;
  cursor: pointer;
  border : 1px solid #5B5245;
  padding:  8px 9px;
  color: #9D9A96;
}
label i{
  font-size: 16px;
}

#res-menu:checked ~ #sidebar{
  z-index: 1;
  opacity: 1;
  transition: 0.4s;
}
