@font-face {
  font-family: Figue;
  src: url("Figue-Regular.woff2");
}

@font-face {
  font-family: GTAmerica;
  src: url("GTAmerica.woff");
}

@font-face {
  font-family: Domain;
  src: url("Domaine.woff2");
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'GTAmerica', sans-serif;
  margin: 0;

}

.hero-section-stories{
  background: white;
}

.hero-section-shop{
  background: white;
}

.hero-section-shopp{
  background-color: white;
}

.hero-section-shoppp{
  background-color: white;
}

.hero-section-experience{
    background: white;
}

.hero-section{
  background-size: cover;
  /* background-color: #B4B0A5; */
  height: 100vh;
}
.nav.shop{
  color : #7f7b76 !important;
}

.nav{
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0 1vw;
}

.left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding : 5px;
  padding-top: 20px;
}

.Mid{
  padding: 5px;
  font-family: 'Figue', sans-serif;
}

.Mid h2{
  font-size: 4vh;
}

.right{
  display: flex;
  width : 32vw;
  align-items : center;
  justify-content: flex-end;
}

.right img{
  margin-right: 2vw;
  color: white;
  cursor: pointer;
  padding-top: 15px;
}

p{
  margin-right: 1vw;
  font-weight:  100;
  font-size: 12px;
}

p a{
  color: white;
  text-decoration: none;
  padding : 10px;
  text-transform: uppercase;
  font-size: 12px;
}

p a:hover{
  background: white;
  color: black;
  transition: 0.5s;
}

.hr{
  height: 1px;
  background: white;
  width: 100%;
}



.aboutSec{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin : 5vh 5vw;
  justify-content: center;
  align-items: center;
  color: white;
}

.left-container p{
  font-size: 60px;
  font-family: 'Figue';
}

.left-container a{
  width: 100px;
}


.btn {
  text-decoration: none;
  padding : 20px;
  margin : 5px;
}

.btn-light{
  color : white;
  background: transparent;
  border: 1px solid white;
}

.aboutSec .btn{
  padding : 15px 40px;
  text-transform: uppercase;
}


.btn-light:hover{
  background: white;
  color : black;
  transition: 0.5s;
}



hr.section{
  background-color: #F5F3F1;
  margin: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height:0;
}


.shop-section{
  margin-top : 3vh;
}

.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 11vh;
}

.heading h2{
  font-family: 'Figue';
  color: #5B5245;
  font-size: 4.25rem;
  line-height: 5.125rem;
  font-weight: lighter;
  margin-left : 2vw;
}

.heading p a{
  color: #7F7B76;
font-family: 'GTAmerica', sans-serif;
font-size: 12px;
text-transform: uppercase;
}

.heading p a:hover{
  color: #BBB6B1;
  transition: 0.5s;
}


p.p-container-shop{
  width: 900px;
}
p.l-container-shop{
  width: 900px;
}
p.g-container-shop{
  width: 900px;
}

.left-container-shop h2{
  font-family: 'Figue';
  color: #5B5245;
  font-size: 4.625rem;
  line-height: 5.125rem
}


.left-container-shop.shopbycause h2{
  font-size: 4.75rem;
}

.left-container-shop p{
  font-family: 'Domain';
  font-size: 1rem;
  line-height: 1.5rem;
  color : #7F7B76 !important;
}

.left-container-shop p a{
  color : #7F7B76 !important;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap : 10px;
  justify-content: center;
  align-items: center;


}

.items{
  padding : 25px 5px 20px 5px;
  max-width: 660px;
  margin: auto;
}

.item__desc{
  margin : 4px 0 0;

}

.items p.item__desc{
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 13px;
}

.items img{
  width : 650px;
  height : 780px;
  margin-bottom: 10px;
}


.items p.item__price{
  font-family: "Lato" , sans-serif;
  font-weight: 600;
  font-size: 16px;

}

.buttons{
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
  margin : 0 16px 0 4px;
}
.buttons a{
  margin-top: 8px;
  padding: 10px;
  color : #5B5245;
  text-decoration: none;
  transition: 0.5s;
  background: transparent;
  border: 1px solid #7F7B76;
}

.buy-btn{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.buy-btn:hover{
  background:black;
  color : white;
  transition: 0.5s;
  border : 1px solid white;
}

.loading-sec{
  text-align: center;
  margin : 32px;
}

.container__load-more{
  margin-top: 100px;
}
.load-more{
  color : black;
  cursor: pointer;
  padding : 20px;
  border : 1px solid #a19d99;
  transition: 0.5s;
  font-family: "Raleway",sans-serif;
  font-weight: 200;
  color : #a19d99;
}

.loading-sec.lifestyle-loading{
  margin-top: -50px;
  margin-bottom: 50px;
}

.loading-sec.lifestyle-loading.active{
  margin-top: 0;
}




.load-more:hover{
  background: black;
  color : white;
}

#loading-png{
  width : 200px;
  display: none;
}

#No-more{
  margin-top : 16px;
  display: none;
}



.modal{
  position: fixed;
  width : 100%;
  min-height: 100vh;
  background: rgba(0,0,0,0.3);
  top :0;
  display: none;
}

.modal-content{
  background: white;
  width : 50%;
  margin : auto;
  margin-top : 5%;
  padding : 32px;
}

.close{
  text-align: right;
  font-size: 32px;
  font-weight: bold;
  margin : 16px;
  cursor: pointer;
}

#description {
  font-size: 14px;
}
